# ------------------------------
# Python仮想環境
# Dockerコンテナ内で新しくPython環境を作るため不要
# ------------------------------
myvenv/

# ------------------------------
# .env
# ------------------------------
.env

# ------------------------------
# Pythonキャッシュ
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# Git管理情報
# ------------------------------
.git
.gitignore

# ------------------------------
# VSCode設定
# （Dockerには不要）
# ------------------------------
.vscode/

# ------------------------------
# SQLiteデータベース
# 後でMySQLへ移行するためコピーしない
# ------------------------------
db.sqlite3

# ------------------------------
# テスト・カバレッジ
# ------------------------------
.coverage

# ------------------------------
# macOS用
# ------------------------------
.DS_Store